In [ ]:
### Part 1: Import relevant libraries and conduct preliminary data exploration ###

In [3]:
# Install pandasql

pip install pandasql

Collecting pandasql
  Using cached pandasql-0.7.3-py3-none-any.whl
Requirement already satisfied: pandas in /Users/nicholassimon/opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.4.2)
Requirement already satisfied: numpy in /Users/nicholassimon/opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.21.5)
Requirement already satisfied: sqlalchemy in /Users/nicholassimon/opt/anaconda3/lib/python3.9/site-packages (from pandasql) (1.4.32)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/nicholassimon/opt/anaconda3/lib/python3.9/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/nicholassimon/opt/anaconda3/lib/python3.9/site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/nicholassimon/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/nicholassimon/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy->pandasql) (1.1.1)
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Import libraries

import pandas as pd
from pandasql import sqldf

In [10]:
# Set dimension restrictions

pd.set_option('display.max_rows', 50)
pd.set_option('display.min_rows', 50)
pd.set_option('display.max_columns', 20)

In [6]:
# Read in first dataset

death_df = pd.read_csv('covid_deaths.csv')

In [7]:
# Read in second dataset

vacc_df = pd.read_csv('covid_vaccinations.csv')

/var/folders/80/0lqzpj_j1wb1msvsf1pxm37r0000gn/T/ipykernel_8992/2061577541.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  vacc_df = pd.read_csv('covid_vaccinations.csv')

In [11]:
# Explore the likelihood of someone in the United States dying if they contract Covid-19. Do this by creating a 
# column called "Death_Percentage" that is the quotient of total deaths divided by total cases.

q1 = """
    SELECT location, date, total_cases, total_deaths, (total_deaths/total_cases)*100 AS Death_Percentage
    FROM death_df
    WHERE location LIKE '%states%'
    AND location NOT LIKE '%virgin islands%'
    AND continent IS NOT null 
    ORDER BY 1, 2;
    """

print(sqldf(q1))

          location        date  total_cases  total_deaths  Death_Percentage
0    United States  2020-01-22          1.0           NaN               NaN
1    United States  2020-01-23          1.0           NaN               NaN
2    United States  2020-01-24          2.0           NaN               NaN
3    United States  2020-01-25          2.0           NaN               NaN
4    United States  2020-01-26          5.0           NaN               NaN
5    United States  2020-01-27          5.0           NaN               NaN
6    United States  2020-01-28          5.0           NaN               NaN
7    United States  2020-01-29          6.0           NaN               NaN
8    United States  2020-01-30          6.0           NaN               NaN
9    United States  2020-01-31          8.0           NaN               NaN
10   United States  2020-02-01          8.0           NaN               NaN
11   United States  2020-02-02          8.0           NaN               NaN
12   United States  2020-02-03         11.0           NaN               NaN
13   United States  2020-02-04         11.0           NaN               NaN
14   United States  2020-02-05         11.0           NaN               NaN
15   United States  2020-02-06         12.0           NaN               NaN
16   United States  2020-02-07         12.0           NaN               NaN
17   United States  2020-02-08         12.0           NaN               NaN
18   United States  2020-02-09         12.0           NaN               NaN
19   United States  2020-02-10         12.0           NaN               NaN
20   United States  2020-02-11         13.0           NaN               NaN
21   United States  2020-02-12         13.0           NaN               NaN
22   United States  2020-02-13         14.0           NaN               NaN
23   United States  2020-02-14         14.0           NaN               NaN
24   United States  2020-02-15         14.0           NaN               NaN
..             ...         ...          ...           ...               ...
873  United States  2022-06-13   85757762.0     1011750.0          1.179777
874  United States  2022-06-14   85847929.0     1012103.0          1.178949
875  United States  2022-06-15   86032895.0     1012785.0          1.177207
876  United States  2022-06-16   86163104.0     1013208.0          1.175919
877  United States  2022-06-17   86302503.0     1013507.0          1.174366
878  United States  2022-06-18   86318981.0     1013526.0          1.174164
879  United States  2022-06-19   86329178.0     1013534.0          1.174034
880  United States  2022-06-20   86423790.0     1013614.0          1.172841
881  United States  2022-06-21   86539469.0     1014096.0          1.171831
882  United States  2022-06-22   86724417.0     1014956.0          1.170323
883  United States  2022-06-23   86873715.0     1015342.0          1.168756
884  United States  2022-06-24   86991291.0     1015789.0          1.167690
885  United States  2022-06-25   87031741.0     1015933.0          1.167313
886  United States  2022-06-26   87051054.0     1015938.0          1.167060
887  United States  2022-06-27   87211586.0     1016208.0          1.165221
888  United States  2022-06-28   87304636.0     1016768.0          1.164621
889  United States  2022-06-29   87498534.0     1017478.0          1.162851
890  United States  2022-06-30   87665306.0     1017277.0          1.160410
891  United States  2022-07-01   87821685.0     1017817.0          1.158959
892  United States  2022-07-02   87838337.0     1017846.0          1.158772
893  United States  2022-07-03   87843275.0     1017848.0          1.158709
894  United States  2022-07-04   87921849.0     1017915.0          1.157750
895  United States  2022-07-05   88065902.0     1018349.0          1.156349
896  United States  2022-07-06   88262908.0     1019083.0          1.154599
897  United States  2022-07-07   88381589.0     1020262.0          1.154383

[898 rows x 5 columns]

In [12]:
# Determine the maximum, minimum, and average "Death_Percentage" in the United States

q2 = """
    SELECT MAX((total_deaths/total_cases)*100) AS Max_Death_Percentage, 
    MIN((total_deaths/total_cases)*100) AS Min_Death_Percentage,
    AVG((total_deaths/total_cases)*100) AS Avg_Death_Percentage
    FROM death_df
    WHERE location LIKE '%states%'
    AND location NOT LIKE '%virgin islands%'
    AND continent IS NOT null;
    """

print(sqldf(q2))

   Max_Death_Percentage  Min_Death_Percentage  Avg_Death_Percentage
0             10.909091              1.154383              2.310935

In [ ]:
# Analysis: In the United States from 1/22/20 to 7/7/22, a person's likelihood of dying after contracting Covid-19 
# peaked at about 11% and hit its lowest point at about 1.15%. The peak occurred in March 2020, while the 
# trough occured in July 2022. 

# (Note: It's important to point out that the percentage associated with the peak may be inaccurate as there was 
# limited data on infection rates and death rates at the time, as evidenced by the relatively small number of 
# recorded cases and deaths in March 2020.)

# The average likelihood of death for someone who became infected with Covid-19 between 1/22/20 and 7/7/22
# was approximately 2.3%.

In [13]:
# Explore what percentage of the U.S. population was infected with Covid-19 between 1/22/20 and 7/7/22. Do this by 
# creating a column called "Total_Pop_Infection_Rate" that is the quotient of total cases divided by the population.

q3 = """
    Select location, date, population, total_cases, CAST((total_cases/population)*100 AS VARCHAR(40)) AS Percent_Population_Infected
    FROM death_df
    WHERE location LIKE '%states%'
    AND location NOT LIKE '%virgin islands%'
    AND continent IS NOT null 
    ORDER BY 1, 2;
    """

print(sqldf(q3))

          location        date   population  total_cases  \
0    United States  2020-01-22  332915074.0          1.0
1    United States  2020-01-23  332915074.0          1.0
2    United States  2020-01-24  332915074.0          2.0
3    United States  2020-01-25  332915074.0          2.0
4    United States  2020-01-26  332915074.0          5.0
5    United States  2020-01-27  332915074.0          5.0
6    United States  2020-01-28  332915074.0          5.0
7    United States  2020-01-29  332915074.0          6.0
8    United States  2020-01-30  332915074.0          6.0
9    United States  2020-01-31  332915074.0          8.0
10   United States  2020-02-01  332915074.0          8.0
11   United States  2020-02-02  332915074.0          8.0
12   United States  2020-02-03  332915074.0         11.0
13   United States  2020-02-04  332915074.0         11.0
14   United States  2020-02-05  332915074.0         11.0
15   United States  2020-02-06  332915074.0         12.0
16   United States  2020-02-07  332915074.0         12.0
17   United States  2020-02-08  332915074.0         12.0
18   United States  2020-02-09  332915074.0         12.0
19   United States  2020-02-10  332915074.0         12.0
20   United States  2020-02-11  332915074.0         13.0
21   United States  2020-02-12  332915074.0         13.0
22   United States  2020-02-13  332915074.0         14.0
23   United States  2020-02-14  332915074.0         14.0
24   United States  2020-02-15  332915074.0         14.0
..             ...         ...          ...          ...
873  United States  2022-06-13  332915074.0   85757762.0
874  United States  2022-06-14  332915074.0   85847929.0
875  United States  2022-06-15  332915074.0   86032895.0
876  United States  2022-06-16  332915074.0   86163104.0
877  United States  2022-06-17  332915074.0   86302503.0
878  United States  2022-06-18  332915074.0   86318981.0
879  United States  2022-06-19  332915074.0   86329178.0
880  United States  2022-06-20  332915074.0   86423790.0
881  United States  2022-06-21  332915074.0   86539469.0
882  United States  2022-06-22  332915074.0   86724417.0
883  United States  2022-06-23  332915074.0   86873715.0
884  United States  2022-06-24  332915074.0   86991291.0
885  United States  2022-06-25  332915074.0   87031741.0
886  United States  2022-06-26  332915074.0   87051054.0
887  United States  2022-06-27  332915074.0   87211586.0
888  United States  2022-06-28  332915074.0   87304636.0
889  United States  2022-06-29  332915074.0   87498534.0
890  United States  2022-06-30  332915074.0   87665306.0
891  United States  2022-07-01  332915074.0   87821685.0
892  United States  2022-07-02  332915074.0   87838337.0
893  United States  2022-07-03  332915074.0   87843275.0
894  United States  2022-07-04  332915074.0   87921849.0
895  United States  2022-07-05  332915074.0   88065902.0
896  United States  2022-07-06  332915074.0   88262908.0
897  United States  2022-07-07  332915074.0   88381589.0

    Percent_Population_Infected
0          3.00376906333776e-07
1          3.00376906333776e-07
2          6.00753812667551e-07
3          6.00753812667551e-07
4          1.50188453166888e-06
5          1.50188453166888e-06
6          1.50188453166888e-06
7          1.80226143800265e-06
8          1.80226143800265e-06
9          2.40301525067021e-06
10         2.40301525067021e-06
11         2.40301525067021e-06
12         3.30414596967153e-06
13         3.30414596967153e-06
14         3.30414596967153e-06
15         3.60452287600531e-06
16         3.60452287600531e-06
17         3.60452287600531e-06
18         3.60452287600531e-06
19         3.60452287600531e-06
20         3.90489978233908e-06
21         3.90489978233908e-06
22         4.20527668867286e-06
23         4.20527668867286e-06
24         4.20527668867286e-06
..                          ...
873            25.7596512436682
874            25.7867353281816
875            25.8422948430386
876            25.8814066196354
877            25.9232788600014
878             25.928228470664
879            25.9312914139778
880            25.9597106738399
881            25.9944579739877
882            26.0500120820603
883            26.0948577534221
884            26.1301748685612
885            26.1423251144224
886            26.1481262936144
887             26.196346399142
888            26.2242964702764
889            26.2825389516607
890            26.3326334090838
891            26.3796060493194
892            26.3846079255636
893            26.3860911867271
894            26.4096930017654
895            26.4529631962535
896            26.5121392490627
897            26.5477882806833

[898 rows x 5 columns]

In [14]:
# Determine the maximum and average infection rates in the United States during the pandemic between 1/22/20 and 7/7/22.

q4 = """
    Select MAX((total_cases/population)*100) AS Max_Infection_Rate, 
    AVG((total_cases/population)*100) AS Avg_Infection_Rate
    FROM death_df
    WHERE location LIKE '%states%'
    AND location NOT LIKE '%virgin islands%'
    AND continent IS NOT null;
    """

print(sqldf(q4))

   Max_Infection_Rate  Avg_Infection_Rate
0           26.547788             9.99088

In [ ]:
# Analysis: The average infection rate in the United States from 1/22/20 to 7/7/22 is about 10%, while the maximum 
# infection rate is about 26.6%. 

# The output for query 3 (q3) shows that the infection rate has increased as time has progressed, with the maximum 
# infection rate from 1/22/20 to 7/7/22 occuring in July 2022.

In [15]:
# Order countries according to infection rates as a proportion of their populations, with countries exhibiting
# the highest infection rates as a proportion of their populations appearing at the top of the query. 

q5 = """
    SELECT location, population, MAX(total_cases) AS Highest_Infection_Count,  MAX((total_cases/population))*100 AS Percent_Population_Infected
    FROM death_df
    GROUP BY location, population
    ORDER BY Percent_Population_Infected DESC;
    """

print(sqldf(q5))

                         location    population  Highest_Infection_Count  \
0                  Faeroe Islands  4.905300e+04                  34658.0
1                       Gibraltar  3.369100e+04                  19796.0
2                         Andorra  7.735400e+04                  44671.0
3                          Cyprus  8.960050e+05                 515596.0
4                         Denmark  5.813302e+06                3185838.0
5                      San Marino  3.401000e+04                  18361.0
6                         Iceland  3.687920e+05                 196527.0
7                Falkland Islands  3.528000e+03                   1831.0
8                        Portugal  1.016792e+07                5234600.0
9                        Slovenia  2.078723e+06                1046425.0
10                        Austria  9.043072e+06                4529939.0
11      Saint Pierre and Miquelon  5.771000e+03                   2779.0
12                    Netherlands  1.717309e+07                8234878.0
13                         Israel  9.291000e+06                4425323.0
14                         France  6.742200e+07               32035379.0
15                  Liechtenstein  3.825400e+04                  18077.0
16                       Slovakia  5.449270e+06                2555080.0
17                     Seychelles  9.891000e+04                  45000.0
18                         Latvia  1.866934e+06                 839251.0
19                        Estonia  1.325188e+06                 581560.0
20                    Switzerland  8.715494e+06                3805774.0
21                    Isle of Man  8.541000e+04                  36998.0
22                      Lithuania  2.689862e+06                1163529.0
23                     Luxembourg  6.348140e+05                 269086.0
24                        Georgia  3.979773e+06                1662299.0
..                            ...           ...                      ...
219              Marshall Islands  5.961800e+04                     45.0
220                  Saint Helena  6.095000e+03                      4.0
221                         China  1.444216e+09                 891314.0
222                      Tanzania  6.149844e+07                  35768.0
223                          Chad  1.691498e+07                   7426.0
224                         Yemen  3.049064e+07                  11832.0
225                         Niger  2.513081e+07                   9031.0
226          Micronesia (country)  1.162550e+05                     38.0
227                   North Korea  2.588704e+07                      1.0
228                          Guam  1.701840e+05                      NaN
229                      Guernsey  6.338500e+04                      NaN
230                 International           NaN                    721.0
231                        Jersey  1.010730e+05                      NaN
232                         Nauru  1.087300e+04                      NaN
233                          Niue  1.614000e+03                      NaN
234               Northern Cyprus           NaN                      NaN
235      Northern Mariana Islands  5.791000e+04                      NaN
236                      Pitcairn  4.700000e+01                      NaN
237                   Puerto Rico  2.828246e+06                      NaN
238     Sint Maarten (Dutch part)  4.342100e+04                      NaN
239                       Tokelau  1.368000e+03                      NaN
240                  Turkmenistan  6.117933e+06                      NaN
241                        Tuvalu  1.192500e+04                      NaN
242  United States Virgin Islands  1.042180e+05                      NaN
243                Western Sahara  6.118720e+05                      NaN

     Percent_Population_Infected
0                      70.654190
1                      58.757532
2                      57.748791
3                      57.543875
4                      54.802555
5                      53.987063
6                      53.289388
7                      51.899093
8                      51.481507
9                      50.339800
10                     50.092922
11                     48.154566
12                     47.952209
13                     47.630212
14                     47.514727
15                     47.255189
16                     46.888482
17                     45.495905
18                     44.953437
19                     43.885094
20                     43.666762
21                     43.318113
22                     43.256085
23                     42.388164
24                     41.768689
..                           ...
219                     0.075481
220                     0.065628
221                     0.061716
222                     0.058161
223                     0.043902
224                     0.038805
225                     0.035936
226                     0.032687
227                     0.000004
228                          NaN
229                          NaN
230                          NaN
231                          NaN
232                          NaN
233                          NaN
234                          NaN
235                          NaN
236                          NaN
237                          NaN
238                          NaN
239                          NaN
240                          NaN
241                          NaN
242                          NaN
243                          NaN

[244 rows x 4 columns]

In [16]:
# Focus on infection rates as a proportion of population on the Faroe Islands (the country with the highest infection
# count, according to query 5)

q6 = """
    Select location, date, population, total_cases, CAST((total_cases/population)*100 AS VARCHAR(40)) AS Percent_Population_Infected
    FROM death_df
    WHERE location LIKE '%Faeroe Islands%'
    AND continent IS NOT null 
    ORDER BY 1, 2;
    """

print(sqldf(q6))

           location        date  population  total_cases  \
0    Faeroe Islands  2020-03-04     49053.0          1.0
1    Faeroe Islands  2020-03-05     49053.0          1.0
2    Faeroe Islands  2020-03-06     49053.0          1.0
3    Faeroe Islands  2020-03-07     49053.0          1.0
4    Faeroe Islands  2020-03-08     49053.0          2.0
5    Faeroe Islands  2020-03-09     49053.0          2.0
6    Faeroe Islands  2020-03-10     49053.0          2.0
7    Faeroe Islands  2020-03-11     49053.0          2.0
8    Faeroe Islands  2020-03-12     49053.0          2.0
9    Faeroe Islands  2020-03-13     49053.0          3.0
10   Faeroe Islands  2020-03-14     49053.0          9.0
11   Faeroe Islands  2020-03-15     49053.0         11.0
12   Faeroe Islands  2020-03-16     49053.0         18.0
13   Faeroe Islands  2020-03-17     49053.0         47.0
14   Faeroe Islands  2020-03-18     49053.0         58.0
15   Faeroe Islands  2020-03-19     49053.0         72.0
16   Faeroe Islands  2020-03-20     49053.0         80.0
17   Faeroe Islands  2020-03-21     49053.0         92.0
18   Faeroe Islands  2020-03-22     49053.0        115.0
19   Faeroe Islands  2020-03-23     49053.0        118.0
20   Faeroe Islands  2020-03-24     49053.0        122.0
21   Faeroe Islands  2020-03-25     49053.0        132.0
22   Faeroe Islands  2020-03-26     49053.0        140.0
23   Faeroe Islands  2020-03-27     49053.0        144.0
24   Faeroe Islands  2020-03-28     49053.0        155.0
..              ...         ...         ...          ...
831  Faeroe Islands  2022-06-13     49053.0      34658.0
832  Faeroe Islands  2022-06-14     49053.0      34658.0
833  Faeroe Islands  2022-06-15     49053.0      34658.0
834  Faeroe Islands  2022-06-16     49053.0      34658.0
835  Faeroe Islands  2022-06-17     49053.0      34658.0
836  Faeroe Islands  2022-06-18     49053.0      34658.0
837  Faeroe Islands  2022-06-19     49053.0      34658.0
838  Faeroe Islands  2022-06-20     49053.0      34658.0
839  Faeroe Islands  2022-06-21     49053.0      34658.0
840  Faeroe Islands  2022-06-22     49053.0      34658.0
841  Faeroe Islands  2022-06-23     49053.0      34658.0
842  Faeroe Islands  2022-06-24     49053.0      34658.0
843  Faeroe Islands  2022-06-25     49053.0      34658.0
844  Faeroe Islands  2022-06-26     49053.0      34658.0
845  Faeroe Islands  2022-06-27     49053.0      34658.0
846  Faeroe Islands  2022-06-28     49053.0      34658.0
847  Faeroe Islands  2022-06-29     49053.0      34658.0
848  Faeroe Islands  2022-06-30     49053.0      34658.0
849  Faeroe Islands  2022-07-01     49053.0      34658.0
850  Faeroe Islands  2022-07-02     49053.0      34658.0
851  Faeroe Islands  2022-07-03     49053.0      34658.0
852  Faeroe Islands  2022-07-04     49053.0      34658.0
853  Faeroe Islands  2022-07-05     49053.0      34658.0
854  Faeroe Islands  2022-07-06     49053.0      34658.0
855  Faeroe Islands  2022-07-07     49053.0      34658.0

    Percent_Population_Infected
0           0.00203861129798381
1           0.00203861129798381
2           0.00203861129798381
3           0.00203861129798381
4           0.00407722259596763
5           0.00407722259596763
6           0.00407722259596763
7           0.00407722259596763
8           0.00407722259596763
9           0.00611583389395144
10           0.0183475016818543
11           0.0224247242778219
12           0.0366950033637086
13           0.0958147310052392
14            0.118239455283061
15            0.146780013454835
16            0.163088903838705
17            0.187552239414511
18            0.234440299268139
19             0.24055613316209
20            0.248710578354025
21            0.269096691333863
22            0.285405581717734
23            0.293560026909669
24            0.315984751187491
..                          ...
831             70.654190365523
832             70.654190365523
833             70.654190365523
834             70.654190365523
835             70.654190365523
836             70.654190365523
837             70.654190365523
838             70.654190365523
839             70.654190365523
840             70.654190365523
841             70.654190365523
842             70.654190365523
843             70.654190365523
844             70.654190365523
845             70.654190365523
846             70.654190365523
847             70.654190365523
848             70.654190365523
849             70.654190365523
850             70.654190365523
851             70.654190365523
852             70.654190365523
853             70.654190365523
854             70.654190365523
855             70.654190365523

[856 rows x 5 columns]

In [ ]:
# Analysis: The Faroe Islands' maximum infection rate is about 70.65%. The country's infection rate increased 
# fairly consistently from 1/22/20 to 7/7/22. According to the dataset, the Faroe Islands' infection rate plateaued 
# at 70.65% (i.e., the maximum infection rate), indicating that new data regarding total cases probably hadn't  
# been published recently at the time of this analysis.

In [17]:
# Explore which countries experienced the most Covid-related deaths

q7 = """
    SELECT location, MAX(cast(Total_deaths as int)) as Total_Death_Count
    FROM death_df
    WHERE continent IS NOT null
    GROUP BY location
    ORDER BY Total_Death_Count DESC;
    """

print(sqldf(q7))

                         location  Total_Death_Count
0                   United States          1020262.0
1                          Brazil           673073.0
2                           India           525343.0
3                          Russia           373732.0
4                          Mexico           325976.0
5                            Peru           213623.0
6                  United Kingdom           180898.0
7                           Italy           168864.0
8                       Indonesia           156776.0
9                          France           150012.0
10                        Germany           141758.0
11                           Iran           141420.0
12                       Colombia           140202.0
13                      Argentina           129109.0
14                         Poland           116449.0
15                        Ukraine           112459.0
16                          Spain           108259.0
17                   South Africa           101868.0
18                         Turkey            99057.0
19                        Romania            65755.0
20                    Philippines            60625.0
21                          Chile            58717.0
22                        Hungary            46661.0
23                        Vietnam            43089.0
24                         Canada            42145.0
..                            ...                ...
206                         Palau                6.0
207                   North Korea                6.0
208                         Macao                2.0
209     Saint Pierre and Miquelon                1.0
210                  Cook Islands                1.0
211                Western Sahara                NaN
212                       Vatican                NaN
213  United States Virgin Islands                NaN
214                        Tuvalu                NaN
215                  Turkmenistan                NaN
216                       Tokelau                NaN
217     Sint Maarten (Dutch part)                NaN
218                  Saint Helena                NaN
219                   Puerto Rico                NaN
220                      Pitcairn                NaN
221      Northern Mariana Islands                NaN
222               Northern Cyprus                NaN
223                          Niue                NaN
224                         Nauru                NaN
225          Micronesia (country)                NaN
226              Marshall Islands                NaN
227                        Jersey                NaN
228                      Guernsey                NaN
229                          Guam                NaN
230              Falkland Islands                NaN

[231 rows x 2 columns]

In [19]:
# Explore which countries had the highest death rate as a proportion of their population

q8 = """
    SELECT location, population, MAX(total_deaths) AS Total_Death_Count,  MAX((total_deaths/population))*100 AS Percent_Population_Deaths
    FROM death_df
    GROUP BY location, population
    ORDER BY Percent_Population_Deaths DESC;
    """

print(sqldf(q8))

                         location    population  Total_Death_Count  \
0                            Peru  3.335942e+07           213623.0
1                        Bulgaria  6.896655e+06            37264.0
2          Bosnia and Herzegovina  3.263459e+06            15809.0
3                         Hungary  9.634162e+06            46661.0
4                 North Macedonia  2.082661e+06             9329.0
5                      Montenegro  6.280510e+05             2729.0
6                         Georgia  3.979773e+06            16844.0
7                         Croatia  4.081657e+06            16096.0
8                         Czechia  1.072455e+07            40330.0
9                        Slovakia  5.449270e+06            20154.0
10                        Romania  1.912777e+07            65755.0
11                      Lithuania  2.689862e+06             9178.0
12                     San Marino  3.401000e+04              115.0
13                       Slovenia  2.078723e+06             6657.0
14                         Brazil  2.139934e+08           673073.0
15                         Latvia  1.866934e+06             5869.0
16                      Gibraltar  3.369100e+04              105.0
17                         Poland  3.779700e+07           116449.0
18                  United States  3.329151e+08          1020262.0
19                          Chile  1.921236e+07            58717.0
20                  South America  4.342601e+08          1307151.0
21                         Greece  1.037075e+07            30400.0
22                        Armenia  2.968128e+06             8629.0
23                        Moldova  4.024025e+06            11570.0
24            Trinidad and Tobago  1.403374e+06             4021.0
..                            ...           ...                ...
219                         China  1.444216e+09             5226.0
220                       Burundi  1.225543e+07               38.0
221                         Macao  6.583910e+05                2.0
222                   North Korea  2.588704e+07                6.0
223              Falkland Islands  3.528000e+03                NaN
224                          Guam  1.701840e+05                NaN
225                      Guernsey  6.338500e+04                NaN
226                 International           NaN               15.0
227                        Jersey  1.010730e+05                NaN
228              Marshall Islands  5.961800e+04                NaN
229          Micronesia (country)  1.162550e+05                NaN
230                         Nauru  1.087300e+04                NaN
231                          Niue  1.614000e+03                NaN
232               Northern Cyprus           NaN                NaN
233      Northern Mariana Islands  5.791000e+04                NaN
234                      Pitcairn  4.700000e+01                NaN
235                   Puerto Rico  2.828246e+06                NaN
236                  Saint Helena  6.095000e+03                NaN
237     Sint Maarten (Dutch part)  4.342100e+04                NaN
238                       Tokelau  1.368000e+03                NaN
239                  Turkmenistan  6.117933e+06                NaN
240                        Tuvalu  1.192500e+04                NaN
241  United States Virgin Islands  1.042180e+05                NaN
242                       Vatican  8.120000e+02                NaN
243                Western Sahara  6.118720e+05                NaN

     Percent_Population_Deaths
0                     0.640368
1                     0.540320
2                     0.484425
3                     0.484329
4                     0.447937
5                     0.434519
6                     0.423240
7                     0.394350
8                     0.376053
9                     0.369848
10                    0.343767
11                    0.341207
12                    0.338136
13                    0.320245
14                    0.314530
15                    0.314366
16                    0.311656
17                    0.308091
18                    0.306463
19                    0.305621
20                    0.301006
21                    0.293132
22                    0.290722
23                    0.287523
24                    0.286524
..                         ...
219                   0.000362
220                   0.000310
221                   0.000304
222                   0.000023
223                        NaN
224                        NaN
225                        NaN
226                        NaN
227                        NaN
228                        NaN
229                        NaN
230                        NaN
231                        NaN
232                        NaN
233                        NaN
234                        NaN
235                        NaN
236                        NaN
237                        NaN
238                        NaN
239                        NaN
240                        NaN
241                        NaN
242                        NaN
243                        NaN

[244 rows x 4 columns]

In [ ]:
# Analysis: The country with the most Covid-related deaths from 1/22/20 to 7/7/22 was the United States, with 1,020,262 
# deaths. Thus, according to this dataset, as of 7/7/20, about 0.31% of the United States' population had died as 
# a result of Covid-19. 

# The country with the highest death rate as a proportion of its population is Peru, with a death per population
# rate of about 0.64%.

In [20]:
# Determine the total number of Covid-related deaths worldwide and the percentage of the world's population
# that has died because of Covid

q9 = """
    SELECT SUM(new_cases) AS Total_Cases, SUM(cast(new_deaths AS int)) AS Total_Deaths, SUM(cast(new_deaths AS int))/SUM(New_Cases)*100 AS Death_Percentage
    FROM death_df
    WHERE continent IS NOT null
    ORDER BY 1, 2;
    """

print(sqldf(q9))

   Total_Cases  Total_Deaths  Death_Percentage
0  552401077.0       6305479          1.141468

In [ ]:
# Analysis: Between 1/22/20 and 7/7/22, there have been 6,305,479 Covid-related deaths, and about 1.14% of the 
# world's population has died as a result of Covid-19.

In [21]:
# Join the death_df and vacc_df datasets to determine what percentage of the U.S. population received at least 
# one Covid vaccination between 1/22/20 and 7/7/22.

q10 = """
SELECT dea.continent, dea.location, dea.date, dea.population, vac.new_vaccinations,
SUM(CAST(vac.new_vaccinations AS int)) OVER (PARTITION BY dea.location ORDER BY dea.location, dea.date) AS Rolling_People_Vaccinated
FROM death_df dea
JOIN vacc_df vac
	ON dea.location = vac.location
	AND dea.date = vac.date
WHERE dea.location LIKE '%states%'
AND dea.location NOT LIKE '%virgin islands%'
AND dea.continent IS NOT null
ORDER BY 2,3;
"""

print(sqldf(q10))

         continent       location        date   population  new_vaccinations  \
0    North America  United States  2020-01-22  332915074.0               NaN
1    North America  United States  2020-01-23  332915074.0               NaN
2    North America  United States  2020-01-24  332915074.0               NaN
3    North America  United States  2020-01-25  332915074.0               NaN
4    North America  United States  2020-01-26  332915074.0               NaN
5    North America  United States  2020-01-27  332915074.0               NaN
6    North America  United States  2020-01-28  332915074.0               NaN
7    North America  United States  2020-01-29  332915074.0               NaN
8    North America  United States  2020-01-30  332915074.0               NaN
9    North America  United States  2020-01-31  332915074.0               NaN
10   North America  United States  2020-02-01  332915074.0               NaN
11   North America  United States  2020-02-02  332915074.0               NaN
12   North America  United States  2020-02-03  332915074.0               NaN
13   North America  United States  2020-02-04  332915074.0               NaN
14   North America  United States  2020-02-05  332915074.0               NaN
15   North America  United States  2020-02-06  332915074.0               NaN
16   North America  United States  2020-02-07  332915074.0               NaN
17   North America  United States  2020-02-08  332915074.0               NaN
18   North America  United States  2020-02-09  332915074.0               NaN
19   North America  United States  2020-02-10  332915074.0               NaN
20   North America  United States  2020-02-11  332915074.0               NaN
21   North America  United States  2020-02-12  332915074.0               NaN
22   North America  United States  2020-02-13  332915074.0               NaN
23   North America  United States  2020-02-14  332915074.0               NaN
24   North America  United States  2020-02-15  332915074.0               NaN
..             ...            ...         ...          ...               ...
873  North America  United States  2022-06-13  332915074.0          264119.0
874  North America  United States  2022-06-14  332915074.0          270236.0
875  North America  United States  2022-06-15  332915074.0          276251.0
876  North America  United States  2022-06-16  332915074.0          273263.0
877  North America  United States  2022-06-17  332915074.0          291261.0
878  North America  United States  2022-06-18  332915074.0          128659.0
879  North America  United States  2022-06-19  332915074.0           61291.0
880  North America  United States  2022-06-20  332915074.0          228586.0
881  North America  United States  2022-06-21  332915074.0          253668.0
882  North America  United States  2022-06-22  332915074.0          261350.0
883  North America  United States  2022-06-23  332915074.0          264605.0
884  North America  United States  2022-06-24  332915074.0          290558.0
885  North America  United States  2022-06-25  332915074.0          148713.0
886  North America  United States  2022-06-26  332915074.0           72824.0
887  North America  United States  2022-06-27  332915074.0          233154.0
888  North America  United States  2022-06-28  332915074.0          238105.0
889  North America  United States  2022-06-29  332915074.0          237825.0
890  North America  United States  2022-06-30  332915074.0          236683.0
891  North America  United States  2022-07-01  332915074.0          224843.0
892  North America  United States  2022-07-02  332915074.0           97018.0
893  North America  United States  2022-07-03  332915074.0           50336.0
894  North America  United States  2022-07-04  332915074.0            7865.0
895  North America  United States  2022-07-05  332915074.0           15388.0
896  North America  United States  2022-07-06  332915074.0               NaN
897  North America  United States  2022-07-07  332915074.0               NaN

     Rolling_People_Vaccinated
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
5                          NaN
6                          NaN
7                          NaN
8                          NaN
9                          NaN
10                         NaN
11                         NaN
12                         NaN
13                         NaN
14                         NaN
15                         NaN
16                         NaN
17                         NaN
18                         NaN
19                         NaN
20                         NaN
21                         NaN
22                         NaN
23                         NaN
24                         NaN
..                         ...
873                593457152.0
874                593727388.0
875                594003639.0
876                594276902.0
877                594568163.0
878                594696822.0
879                594758113.0
880                594986699.0
881                595240367.0
882                595501717.0
883                595766322.0
884                596056880.0
885                596205593.0
886                596278417.0
887                596511571.0
888                596749676.0
889                596987501.0
890                597224184.0
891                597449027.0
892                597546045.0
893                597596381.0
894                597604246.0
895                597619634.0
896                597619634.0
897                597619634.0

[898 rows x 6 columns]

In [22]:
 # Join the death_df and vacc_df datasets to determine what percentage of the U.S. population became fully vaccinated 
# between 1/22/20 and 7/7/22.

q11 = """
SELECT MAX(vac.people_fully_vaccinated/dea.population)
FROM death_df dea
JOIN vacc_df vac
	ON dea.location = vac.location
	AND dea.date = vac.date
WHERE dea.location LIKE '%states%'
AND dea.location NOT LIKE '%virgin islands%'
AND dea.continent IS NOT null;
"""

print(sqldf(q11))

   MAX(vac.people_fully_vaccinated/dea.population)
0                                         0.668205

In [ ]:
# Analysis: As of 7/7/22, about 67% of U.S. population was fully vaccinated against Covid-19.